<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="page-header">
  <template>
    <style>
      :host {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid black;
      }

      iron-icon {
        padding: 10px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      h1 {
        flex-grow: 1;
        text-align: center;
      }

      a {
        font-size: var(--small-font);
        color: blue;
        padding: 10px;
        text-decoration: underline;
      }
    </style>
    <template is="dom-if" if="{{showBackButton}}">
      <iron-icon on-click="handleClickBackButton" icon="icons:arrow-back"></iron-icon>
    </template>
    <h1>{{ title }}</h1>
    <template is="dom-if" if="{{logout}}">
      <a on-click="_handleLogout">Log out</a>
    </template>
  </template>

  <script>
    class PageHeader extends Polymer.Element {
      static get is() {
        return 'page-header';
      }

      _handleLogout() {
        fetch('https://www.letssnap-backend.tk/logout', {
          method: 'GET',
          headers: {'Content-Type': 'application/json'},
          credentials: 'include',
        }).then(res=>{
          window.history.pushState({}, null, '/home');
          window.dispatchEvent(new CustomEvent('location-changed'));
        })
      }

      ready() {
        super.ready();
        console.log('page header', this.title, this.showBackButton, this);
      }

      static get properties() {
        return {
          showBackButton: Boolean,
          title: String,
          to: String,
          logout: Boolean,
        }
      }

      handleClickBackButton() {
        if (this.to) {
          console.log(this.to);
          window.history.pushState({}, null, this.to);
          window.dispatchEvent(new CustomEvent('location-changed'));
        } else {
          window.history.back();
        }
      }
    }

    window.customElements.define(PageHeader.is, PageHeader);
  </script>
</dom-module>
