<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="single-image">
  <template>
    <style include="shared-styles">

      :host {
        display: flex;
      }

      paper-button {
        padding: 0px;
        margin: 0px;
        width: 100%;
        background: white;
      }

      iron-image {
        width: calc((100vw - 20px)/3);
        height: calc((100vw - 20px)/3);
        border: 2px solid var(--background-color);
        background-color: lightgrey;
      }

      iron-image.isSelected {
        border: 2px solid red;
      }
    </style>
    <paper-button flat><iron-image sizing="cover" preload fade class$={{getClass(isSelected)}} src="{{url}}"></paper-button>
  </template>

  <script>
    const TOUCH_DURATION = 1000;
    const DEBOUNCE_DURATION = 100;

    class SingleImage extends Polymer.Element {
      static get is() {
        return 'single-image';
      }

      constructor() {
        super();
        this.touchMove = false;
        this.isShortTouch = false;
      }

      static get properties() {
        return {
          url: {
            type: String
          },
          isSelected: {
            type: Boolean,
            notify: true,
          },
          isSelecting: {
            type: Boolean,
            notify: true,
          },
        };
      }

      getClass(isSelected) {
        return isSelected ? 'isSelected' : '';
      }

      handleTouchStart(e) {
        if (this.touchMove) return
        if (this.isSelecting) {
          this.selectTimer = setTimeout(this._select.bind(this), DEBOUNCE_DURATION);
        } else {
          this.isShortTouch = true;
          this.initializeSelectTimer = setTimeout(this._initializeSelect.bind(this), TOUCH_DURATION);
        }
      }

      _select() {
        this.isSelected = !this.isSelected;
        window.dispatchEvent(new CustomEvent('imageselection', {detail: {newState: this.isSelected}}))
      }

      _initializeSelect() {
        this.isSelecting = true;
        this.isSelected = true;
        this.isShortTouch = false;
        window.dispatchEvent(new CustomEvent('imageselection', {detail: {newState: this.isSelected}}))
      }

      handleTouchEnd(e) {
        if (this.isShortTouch) {
          window.dispatchEvent(new CustomEvent('imageclicked', {detail: {index: this.index}}));
          this.isShortTouch = false;
        }
        clearInterval(this.initializeSelectTimer);
        this.touchMove = false;
      }

      handleTouchMove(e) {
        clearInterval(this.selectTimer);
        clearInterval(this.initializeSelectTimer);
        this.isShortTouch = false;
        this.touchMove = true;
      }

      handleContextMenu(e) {
        e.preventDefault();
      }

      ready() {
        super.ready();
        this.addEventListener('touchstart', this.handleTouchStart.bind(this), {passive: true});
        this.addEventListener('touchend', this.handleTouchEnd.bind(this), {passive: true});
        this.addEventListener('touchmove', this.handleTouchMove.bind(this), {passive: true});
        this.addEventListener('contextmenu', this.handleContextMenu.bind(this));
        console.log(this.shadowRoot.getElementById('paper-button'));
      }
    }

    window.customElements.define(SingleImage.is, SingleImage);
  </script>
</dom-module>
