<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="single-image-scroll-view">
  <template>
    <style>
      .container {
        display: flex;
        flex-direction: column;
      }

      .button-group {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: var(--background-color);
        height: 42px;
      }

      paper-icon-button {
        width: 42px;
        height: 42px;
        background-color: var(--background-color);
      }

      iron-image {
        width: 100%;
        height: 100vw;
        --iron-image-width: 100%;
        background-color: lightgrey;
      }

    </style>
    <div class="container" id="{{_generateId(index)}}">
      <iron-image sizing="cover" preload fade src="{{url}}"></iron-image>
      <div class="button-group">
        <paper-icon-button icon="social:share"></paper-icon-button>
        <paper-icon-button on-click="downloadImage" icon="icons:file-download"></paper-icon-button>
      </div>
    </div>
  </template>

  <script>

    function saveFile(url) {
      var filename = url.substring(url.lastIndexOf("/") + 1).split("?")[0];
      var xhr = new XMLHttpRequest();
      xhr.responseType = 'blob';
      xhr.onload = function() {
        var a = document.createElement('a');
        a.href = window.URL.createObjectURL(xhr.response); // xhr.response is a blob
        a.download = filename; // Set the file name.
        a.style.display = 'none';
        a.target = '_blank';
        document.body.appendChild(a);
        a.click();
        delete a;
      };
      xhr.open('GET', url);
      xhr.send();
    }

    class SingleImageScrollView extends Polymer.Element {
      static get is() {
        return 'single-image-scroll-view';
      }

      _generateId(index) {
        return 'img-'+index;
      }

      _indexChanged() {
        if (this.focusIndex === String(this.index)) {
          setTimeout(() => this.shadowRoot.getElementById('img-'+this.index).scrollIntoView(), 0); //freaking no clue why this works
        }
      }

      downloadImage() {
        console.log('download');
        saveFile(this.url);
      }

      static get properties() {
        return {
          url: String,
          focusIndex: {
            type: String,
            observer: '_indexChanged'
          },
        };
      }
    }

    window.customElements.define(SingleImageScrollView.is, SingleImageScrollView);
  </script>
</dom-module>
